/* CSS Stylesheet for the Psst microblog */
/* Author: Your Name                     */

html {
    background-color: #00ff00;
    color: #ff0000;
    font-family: sans-serif;
}

.psst {
    width: 100px;
    margin-left: 50px;
    border: 10px solid pink;
}